.snapshot-img-container > .img-top-container {
  display: flex;
}
.snapshot-img-container > .img-bottom-container {
  display: flex;
}
.snapshot-img-container > .img-top-container :first-child {
  z-index: 3;
}
.snapshot-img-container > .img-top-container :last-child {
  z-index: 2;
}
.snapshot-img-container > .img-bottom-container :first-child {
  z-index: 2;
}
.snapshot-img-container > .img-bottom-container :last-child {
  z-index: 1;
}
